html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  text-align: center;

}

.row > .col, .row > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.caption-text {
  font-weight: bold;
}

.datetimepicker-switch {
  font-weight: bold;
  font-size: 16px !important;
}

.datetimepicker-switch span {
  padding-top: 0.10rem;
}

.current-date-item  {
  color: #fff !important;
  background: #0b79b5;
  padding: .25rem .75rem;
  border-radius: 3px;
}

.datepicker .esp-date-day a {
  display: block;
  padding: .25rem 0px
}

.datepicker .esp-date-day a:hover{
  cursor: pointer;
  border-radius: 3px;
  background: #ccc;
  color: #fff !important;
}

span {
  cursor: pointer;
}

.monthpicker {
  font-weight: 500;
}

.monthpicker .esp-date-month a {
  display: block;
  padding: .75rem 0px;

}

.monthpicker .esp-date-month a:hover{
  cursor: pointer;
  border-radius: 3px;
  background: #ccc;
  color: #fff !important;
}

.monthpicker .current-date-item {
  padding: 1rem 1rem;
}

.yearpicker {
  font-weight: 500;
}

.yearpicker .current-date-item {
  padding: .90rem .80rem;
}

.yearpicker .esp-date-year a{
  display: block;
  padding: .75rem 0px;
}

.yearpicker .esp-date-year a:hover{
  cursor: pointer;
  border-radius: 3px;
  background: #ccc;
  color: #fff !important;
}

.calendar {
  width: 375px;
}

.cal-div {
  width: 100%;
  z-index: 999;
  background: #fff;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  /*box-shadow: 0px 0px 6px rgba(0,0,0,0.2);*/
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.120);
  height: 100%;
}

.card-body {
  margin: 0;
  padding: 0;
}

.card-header {
  background-color: #fff;
  padding: 0.75rem 1.25rem;
  font-size: 13px;
  color: #212529;
  border-bottom: none;
}

.card {
  width: 100%;
}

.form-control  {
  height: 31px !important;
  border-radius: 0.25rem !important;
}

.button {
  border: none;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.esp-timepicker-wrapper {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 5px
}

.esp-timepicker-wrapper .timepicker-line {
}

.esp-timepicker-wrapper .esp-time-button {
  display: block;
  cursor: pointer
}

.esp-timepicker-wrapper .esp-time, .esp-timepicker-wrapper .esp-time-dot {
  display: block;
  padding: 15px 0px
}

/* :host /deep/ .esp-timepicker-wrapper imagebox > div > div {
  margin: 0 auto
}
:host /deep/ .esp-timepicker-wrapper .esp-time-button imagebox svg > path{
  fill: #939393 !important
}
:host /deep/ .esp-timepicker-wrapper .esp-time-button:hover imagebox svg > path{
  fill: #000000 !important
} */
