<div class="row">
    <a class="col-3 align-self-start text-left">
      <svg width="14" aria-hidden="true" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="#212529" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>
    </a>
    <span class="col-6 align-left-center text-center" (click)="toggleMonths()" style="font-weight: bold;font-size: 16px !important;">Ekim 2018</span>
    <a class="col-3 align-self-end text-right">
      <svg width="14" aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="#212529" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
    </a>
</div>
<div class="row mt-2" style="font-weight: bold;">
  <div class="col">Pt</div><div class="col">Sa</div><div class="col">Ça</div><div class="col">Pe</div><div class="col">Cu</div><div class="col">Ct</div><div class="col">Pa</div>
</div>
<div class="row" style="text-align: center;">
  <div class="col">1</div><div class="col">2</div><div class="col">3</div><div class="col">4</div><div class="col">5</div><div class="col">6</div><div class="col">7</div>
</div>
<div class="row" style="text-align: center;">
  <div class="col">8</div><div class="col">9</div><div class="col">10</div><div class="col">11</div><div class="col">12</div><div class="col">13</div><div class="col">14</div>
</div>
<div class="row" style="text-align: center;"><div class="col">15</div><div class="col">16</div><div class="col">17</div><div class="col">18</div><div class="col">19</div><div class="col">20</div><div class="col">21</div>
</div>
<div class="row" style="text-align: center;"><div class="col">22</div><div class="col">23</div><div class="col">24</div><div class="col">25</div><div class="col">26</div><div class="col">27</div><div class="col">28</div>
</div>
<div class="row" style="text-align: center;">
    <div class="col">29</div><div class="col">30</div><div class="col">31</div><div class="col" style="color: #979797;">1</div><div class="col" style="color: #979797;">2</div><div class="col" style="color: #979797;">3</div><div class="col" style="color: #979797;">4</div>
</div>
<div class="row" style="text-align: center; color: #979797;">
    <div class="col">29</div><div class="col">5</div><div class="col">6</div><div class="col">7</div><div class="col">8</div><div class="col">9</div><div class="col">10</div>
</div>
<div class="row d-flex justify-content-center mt-3 mb-3">
    <a  (click)="toggleTimepicker()">
        <svg width="16" aria-hidden="true" data-prefix="far" data-icon="clock" class="svg-inline--fa fa-clock fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#0b79b5" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>
      </a>
</div>
    



<!-- ngIf="openTimepicker && !openMonths && !openYears" -->